<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <!--redis-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--<property name="maxWaitMillis"></property>-->
    </bean>

    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="poolConfig" ref="poolConfig"/>
    </bean>

    <bean class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean class="org.springframework.data.redis.listener.RedisMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!--task-->
    <!--<task:annotation-driven/>-->

    <!--loop task size:4-->
    <task:scheduler id="scheduler" pool-size="7"/>
    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="taskServer" method="report" initial-delay="3000" fixed-delay="${report.delay}"/>
        <task:scheduled ref="loggerExecutor" method="monitor" initial-delay="${logger.rate}" fixed-delay="${logger.rate}"/>
        <!--<task:scheduled ref="loggerExecutor" method="monitor" initial-delay="3000" fixed-rate="1000"/>-->
        <!--<task:scheduled ref="taskServer" method="report" cron=""/>-->
    </task:scheduled-tasks>

    <!--<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
    <!--<property name="corePoolSize" value="5"/>-->
    <!--<property name="maxPoolSize" value="10"/>-->
    <!--<property name="queueCapacity" value="25"/>-->
    <!--</bean>-->

    <context:component-scan base-package="com.dnk.smart"/>
</beans>